:host {
  padding: 1em;
  min-height: 100vh;
  background-image: url("../../assets/tech1.jpg");
}

img {
  max-height: 7em;
}

.tech-skill-div {
  div {
    margin: 2em 0em;
  }
}

@media only screen and (max-width: 768px) {
  :host {
    background-position: right;
  }
  img {
    max-height: 5em;
  }
}
