@import "../../styles.scss";

:host {
  padding: 1em;
}

.section-heading {
  font-size: 2.5em;
  border-left: 6px solid $blue-const;
  padding-left: 0.5em;
  font-weight: 300;
}

section {
  font-size: 22px;
  color: grey;
  padding: 1em;
  text-align: justify;
  font-style: italic;
}
