:host {
  padding: 1em;
}

img {
  max-height: 4em;
}

.title {
  font-weight: 300;
  font-size: 1.7em;
  margin-bottom: 0.1em;
}

.duration {
  font-weight: 300;
  font-style: italic;
  padding-right: 0.6em;
}

.desc-item-top,
.desc-item {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0.5em 0em;
  text-align: justify;
}

.desc-item-top {
  margin-top: 2em;
  list-style: none;
  border-left: 3px solid #28c4ff;
  padding-left: 15px;
}

.resp {
  color: grey;
  margin-top: 0.5em;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  :host {
    /*   width: 100vw; */
  }

  img {
    max-height: 3em;
  }
}
