:host {
  max-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  position: relative;
  background-image: url("../../assets/banner-bg.png");
}

.banner-heading {
  font-size: 6em;
  font-weight: 300;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #28c4ff;
  }
}

img {
  max-height: 5em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #0c0c0c6e;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.icon-div {
  &:hover {
    background-color: #00000075;
  }
}

@media only screen and (max-width: 768px) {
  :host {
    background-position: right;
    max-width: 100vw;
    height: 100vh;
  }
  .banner-heading {
    font-size: 2.9em;
  }
  .icon-div {
    flex-wrap: wrap;
    .w-10 {
      width: 20%;
    }
  }
  img {
    max-height: 3em;
  }
}
