/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i");

$blue-const: #28c4ff;

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-10,
.w-20,
.w-100,
.w-50 {
  box-sizing: border-box;
}

.jc-space-around {
  justify-content: space-around;
}
.jc-space-betweeen {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-flex-end {
  justify-content: flex-end;
}

.al-center {
  align-items: center;
}

.h-fit-content {
  height: fit-content;
}

.h-fill-available {
  height: -webkit-fill-available;
}

.flex-wrap {
  flex-wrap: wrap;
}

.white {
  color: white;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.z-1 {
  z-index: 1;
}

.section-heading {
  font-size: 2.5em;
  border-left: 6px solid $blue-const;
  padding-left: 0.5em;
  font-weight: 300;
}

.padding-x {
  padding: 1em;
}
